  [data-view="average"] {
    .line2{
      font-family: "Playfair Display", serif;
      text-align: center;
      
    }
    .stars{
      text-align: center;
      font-family: "Playfair Display", serif;
    }
    .line3{
      color: black;
      font-family: "Playfair Display", serif;
    }
    .checked {
      color:rgb(33,172,251);
    }
  }
