<app-navbar></app-navbar>

<div class="container-fluid" data-view="image">
  <div
    id="carouselExampleDark"
    class="carousel carousel-light slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          style="width: 100vw"
          src="https://images.wallpaperscraft.com/image/single/house_river_shore_148105_1920x1080.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h5><strong> &quot;QUICK MAID &quot;</strong></h5>
          <p>
            <strong
              >&quot; Let Us Take Care Of Your Home in ways that will amaze you
              &quot;</strong
            >
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          style="width: 100vw"
          src="https://images.wallpaperscraft.com/image/single/interior_style_design_home_living_space_83845_1280x720.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h5><strong> &quot;QUICK MAID &quot;</strong></h5>
          <p>
            <strong>
              &quot;Let Us Take Care Of Your Home in ways that will amaze you
              &quot;</strong
            >
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          style="width: 100vw"
          src="https://images.wallpaperscraft.com/image/single/table_still_life_fruit_imitation_flowers_bouquets_sunflowers_39291_1280x720.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h5><strong> &quot;QUICK MAID&quot;</strong></h5>
          <p>
            <strong
              >&quot;Let Us Take Care Of Your Home in ways that will amaze
              you&quot;</strong
            >
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><b>Previous</b></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><b>Next</b></span>
    </button>
  </div>
</div>

<div class="container-fluid" data-view="about">
  <section class="about" id="about">
    <div class="container">
      <div class="heading text-center">
        <h2>
          About <span>Us</span>
          <hr />
        </h2>

        <p>
          QUICK MAID- - company is commited to delivering innovative cleaning
          services in the marketplace. The company offers carpet, sofa set,
          cleaning services and nanny services. It also offers reliable and
          affordable housekeeping services. we offer quality and value that
          results in complete customer satisfaction.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img
            src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg"
            alt="about"
            class="img-fluid"
            width="100%"
          />
        </div>
        <div class="col-lg-6">
          <h3>We are the Leaders in cleaning services in the marketplace</h3>
          <p>
            Freedom and flexibility are just two of the reasons parents choose
            Quick Maid. They also flock to this site because of how easy it is
            to use and its long history in the tech-enabled child care
            community. If it seems like a good fit, send a message through the
            site to secure a job. Caregivers are available for full and
            part-time jobs, as well as live-in care, daytime care, overnight
            care, and last-minute care. There's also an option for special needs
            care.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h4><i class="far fa-star"></i>Awesome Cleaning</h4>
            </div>
            <div class="col-md-6">
              <h4>
                <i class="far fa-star"></i>
                Creative Design
              </h4>
            </div>
            <div class="col-md-6">
              <h4><i class="far fa-star"></i>Better Client Service</h4>
            </div>
            <div class="col-md-6">
              <h4>
                <i class="far fa-star"></i>
                Digital Marketing & Branding
              </h4>
            </div>
            <div class="col-md-6">
              <h4><i class="far fa-star"></i>Creative Design</h4>
            </div>
            <div class="col-md-6">
              <h4>
                <i class="far fa-star"></i>
                Speed And Flexibility
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container" data-view="mission">
  <section class="hero-container--small">
    <div class="featured-card">
      <div class="flex">
        <div class="flex column featured-image jc-c ai-c">
          <h1 class="card-title">MISSION STATEMENT</h1>
        </div>
        <article class="column as-c">
          <div class="card-meta">
            <figure>
              <img
                src="https://cdn3.iconfinder.com/data/icons/print-icons/512/Stack_of_Paper-256.png"
                width="50px"
                alt=""
              />
            </figure>

            <p><b>Target for the future</b></p>
          </div>
          <p>
            At QuickMaid-, we’re committed to providing the highest quality of
            commercial cleaning available by exceeding the expectations of our
            clients. It is our wish to create and maintain prosperous and
            enjoyable environments where performance can thrive.
          </p>
          <a class="btn-prime btn-solid--blue" href="#">Read More</a>
        </article>
      </div>
    </div>
  </section>
  <section class="flex wrap hero-container--small">
    <div class="card three">
      <div class="flex column gradient-bp jc-c ai-c">
        <h2 class="card-title">QUICK MAID BUSINESS</h2>
      </div>
      <article class="column">
        <div class="card-meta">
          <figure>
            <img
              src="https://images.unsplash.com/photo-1598550489906-85edc42981c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG9mZmljZSUyMHNldHVwfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              width="50px"
              alt=""
            />
          </figure>
          <p>
            <b>WEBINAR</b>

            <br />October 27, 2017
          </p>
        </div>
        <p>
          People transact differently than they used to - have you adjusted the
          way you market...
        </p>
        <a class="btn-prime btn-solid--blue" href="#">Read More</a>
      </article>
    </div>
    <div class="card three">
      <div class="flex column gradient-bp jc-c ai-c">
        <h2 class="card-title">QUICK MAID HOME</h2>
      </div>
      <article class="column">
        <div class="card-meta">
          <figure>
            <img
              src="https://images.unsplash.com/photo-1505691723518-36a5ac3be353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
              width="50px"
              alt=""
            />
          </figure>
          <p><b>WEBINAR</b> <br />October 27, 2017</p>
        </div>
        <p>
          People transact differently than they used to - have you adjusted the
          way you market...
        </p>
        <a class="btn-prime btn-solid--blue" href="#">Read More</a>
      </article>
    </div>
    <div class="card three">
      <div class="flex column gradient-bp jc-c ai-c">
        <h2 class="card-title">QUICK MAID GARDEN</h2>
      </div>
      <article class="column">
        <div class="card-meta">
          <figure>
            <img
              src="https://images.unsplash.com/photo-1528092744838-b91de0a10615?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdhcmRlbnxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60"
              width="50px"
              alt=""
            />
          </figure>
          <p><b>WEBINAR</b> <br />October 27, 2017</p>
        </div>
        <p>
          People transact differently than they used to - have you adjusted the
          way you market...
        </p>
        <a class="btn-prime btn-solid--blue" href="#">Read More</a>
      </article>
    </div>
  </section>
</div>

<div class="container" data-view="average">
  <h2 class="line2" style="color: black">Avg.Customer Ratings</h2>
  <h6 style="font-size: 2rem" class="stars">
    <span style="font-size: 2rem" class="fas fa-star checked"></span>
    <span style="font-size: 2rem" class="fas fa-star checked"></span>
    <span style="font-size: 2rem" class="fas fa-star checked"></span>
    <span style="font-size: 2rem" class="fas fa-star checked"></span>
    <span style="font-size: 2rem" class="fas fa-star checked"></span><br />
    <p class="line3">Over 100,000 Reviews</p>
  </h6>
  <br />
</div>

<!-- What we offer -->
<div class="container" data-view="offers">
  <section class="we-offer-area text-center bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-heading text-center">
            <h2>What we <span>Offer</span></h2>
            <h4>
              Let us take care of your home So you can enjoy doing the things
              you love
            </h4>
          </div>
        </div>
      </div>
      <div class="row our-offer-items less-carousel">
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-pen-fancy"></i>
            <h4>House keeping</h4>
            <p>
              Quickmaid now allows Kenyans to book custom cleaning options and
              connecting them with trusted cleaners from their comfort of the
              own home has made us the go-to service for home cleaning..
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-dharmachakra"></i>
            <h4>Nanny services</h4>
            <p>
              Our easy-to-use preference choices allow you to refine your
              search. You can search by distance or city and sort by options
              such as hourly pay rate, education, languages spoken, and see
              profiles with documents.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-tasks"></i>
            <h4>Laundry</h4>
            <p>
              Laundry Services, we have adopted quality assured cleaning
              protocols, excellent washing detergents and fabric softeners and
              fresheners. All our staff are trained on how to clean various
              types of colored and white fabrics as well as remove stains.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-tachometer-alt"></i>
            <h4>Products</h4>
            <p>
              we use gentlte softners,toxin free products that will gives
              longevity to your household items.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-recycle"></i>
            <h4>Our promises</h4>
            <p>
              We want to ensure that you are 100% happy and satisfied with our
              service. If you are unhappy in any way, our support team is on
              standby ready to help.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-headset"></i>
            <h4>24/7 Support</h4>
            <p>we operate 24/7.</p>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
