<app-navbar></app-navbar>

<div class="container-fluid" data-view="image">
  <div
    id="carouselExampleDark"
    class="carousel carousel-light slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          style="width: 100vw"
          src="https://images.wallpaperscraft.com/image/single/house_river_shore_148105_1920x1080.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h5><strong> &quot;QUICK MAID &quot;</strong></h5>
          <p>
            <strong
              >&quot; Let Us Take Care Of Your Home in ways that will amaze you
              &quot;</strong
            >
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          style="width: 100vw"
          src="https://images.wallpaperscraft.com/image/single/interior_style_design_home_living_space_83845_1280x720.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h5><strong> &quot;QUICK MAID &quot;</strong></h5>
          <p>
            <strong>
              &quot;Let Us Take Care Of Your Home in ways that will amaze you
              &quot;</strong
            >
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          style="width: 100vw"
          src="https://images.wallpaperscraft.com/image/single/table_still_life_fruit_imitation_flowers_bouquets_sunflowers_39291_1280x720.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption">
          <h5><strong> &quot;QUICK MAID&quot;</strong></h5>
          <p>
            <strong
              >&quot;Let Us Take Care Of Your Home in ways that will amaze
              you&quot;</strong
            >
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><b>Previous</b></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><b>Next</b></span>
    </button>
  </div>
</div>

<div class="container-fluid" data-view="about">
  <section class="about" id="about">
    <div class="container">
      <div class="heading text-center">
        <h2>About <span>Us</span></h2>
        <p>
          QUICK MAID- - company is commited to delivering innovative cleaning
          services in the marketplace. The company offers carpet, sofa set,
          cleaning services and nanny services. It also offers reliable and
          affordable housekeeping services. we offer quality and value that
          results in complete customer satisfaction.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img
            src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg"
            alt="about"
            class="img-fluid"
            width="100%"
          />
        </div>
        <div class="col-lg-6">
          <h3>We are the Leaders in cleaning services in the marketplace</h3>
          <p>
            Freedom and flexibility are just two of the reasons parents choose
            Quick Maid. They also flock to this site because of how easy it is
            to use and its long history in the tech-enabled child care
            community. If it seems like a good fit, send a message through the
            site to secure a job. Caregivers are available for full and
            part-time jobs, as well as live-in care, daytime care, overnight
            care, and last-minute care. There's also an option for special needs
            care.
          </p>
          <div class="row">
            <div class="col-md-6">
              <h4><i class="far fa-star"></i>Awesome Cleaning</h4>
            </div>
            <div class="col-md-6">
              <h4>
                <i class="far fa-star"></i>
                Creative Design
              </h4>
            </div>
            <div class="col-md-6">
              <h4><i class="far fa-star"></i>Better Client Service</h4>
            </div>
            <div class="col-md-6">
              <h4>
                <i class="far fa-star"></i>
                Digital Marketing & Branding
              </h4>
            </div>
            <div class="col-md-6">
              <h4><i class="far fa-star"></i>Creative Design</h4>
            </div>
            <div class="col-md-6">
              <h4>
                <i class="far fa-star"></i>
                Speed And Flexibility
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
